<div ng-controller='HomeController as homeCtrl' ng-init="model = homeCtrl.homeModel">
        <h3>Home Page {{homeCtrl.homeModel}}</h3>
        <input type='text' ng-model='model.currType'></input>
        <p>Instanceof</p>
        <ul>
            <li ng-repeat="type in model.primitiveTypes" 
                ng-style="{color:model.checkInstanceOf(model.currType, type.name)}">
                {{type.name}}
            </li>
        </ul>

        <ul>
            <li ng-repeat="type in model.referenceTypes"
                ng-style="{color:model.checkInstanceOf(model.currType, type.name)}">
                {{type.name}}
            </li>
        </ul>
</div>
