<div ng-controller='HomeController as homeCtrl' ng-init="model = homeCtrl.homeModel">
        
        <div class="row">
            <span class="checkbox">
                  
            </span>
            <span class="pull-right">
                <span >Show </span>
                <input type='radio' 
                        ng-model='model.useInstance' 
                        ng-value='true' 
                        class=""
                        id="objectRadio">
                </input>
                <label for='objectRadio'><kbd>object type</kbd></label>
                <input type='radio' 
                        ng-model="model.useInstance" 
                        ng-value='false' 
                        id="constructorRadio">                
                </input>
                <label for="constructorRadio"><kbd>Constructor Function</kbd></label>
                <label>
                    <input type="checkbox" ng-model="model.showPrimitive"> primitive</input>
                </label>
            </span>
        </div>
        
        <div class="row">
        <form name="typeSelectForm" class="form-inline">
            <table class="table table-bordered ">
                <tr>
                    <th>
                        Select -->
                    </th>
                    <th ng-repeat="type in model.allTypes track by $index" class="text-center">
                        <input id="typeRadio{{$index}}" 
                                type='radio'
                               ng-model='model.currTypeId'
                               ng-value='{{$index}}'
                               class='text-center'> 
                        </input>
                        <label for="typeRadio{{$index}}">{{type.name}}</label>
                    </th>
                </tr>
                <tr>
                    <td>
                        instanceOf
                    </td>
                    <td ng-repeat="type in model.allTypes track by $index" 
                        ng-style="{background:model.getColor(model.checkInstanceOf(model.currType, type))}"
                        class='text-center'>
                        <span ng-if="!model.isPrimitive(type.getInstance())">{{type.name}} </span>
                        <span ng-if="model.isPrimitive(type.getInstance())" style="background:yellow"><i>primitive</i></span>
                    </td>
                <tr>
                <tr>
                    <td>
                        typeof
                    </td>
                    <td ng-repeat="type in model.allTypes track by $index" 
                        class='text-center'>
                        {{model.getTypeOf(type.getInstance())}}
                    </td>
                </tr>
            </table>            
        </form>
        </div>
        <h2 class='text-center'><kbd>{{model.currExampleString}}</kbd></h2>
        <!-- placeholder for prototype graph -->        
        <div class="treeContainer">
        
        </div>
</div>
