<div ng-controller='HomeController as homeCtrl' ng-init="model = homeCtrl.homeModel">
        <form name="typeSelectForm" class="form-inline">
            <table class="table table-bordered">
                <tr>
                    <th>
                    </th>
                    <th ng-repeat="type in model.allTypes track by $index" >
                        <input type='radio'
                               ng-model='model.currTypeId'
                               ng-value='{{$index}}'
                               class='text-center'> 
                        {{type.name}}
                        </input>
                    </th>
                </tr>
                <tr>
                    <td>
                        instanceOf
                    </td>
                    <td ng-repeat="type in model.allTypes track by $index" 
                        ng-style="{background:model.checkInstanceOf(model.currType, type)}"
                        class='text-center'>
                        {{type.name}} 
                    </td>
                <tr>
                <tr>
                    <td>
                        typeof
                    </td>
                    <td ng-repeat="type in model.allTypes track by $index" 
                        class='text-center'>
                        {{model.getTypeOf(type.getInstance())}}
                    </td>
                <tr>
            </table>            
        </form>
        <h2 class='text-center'>{{model.currType.name}}</h2>
        
        <div class="treeContainer">
        
        </div>
        <p>{{model.currDescriptor}}</p>
</div>
